ul{
    list-style-type: none;
    margin: 20;
    padding: 1;
    overflow: hidden;
    background-color: #4691f3
    }
ul2{
    list-style-type: none;
    margin: 20;
    padding: 1;
    overflow: hidden;
    background-color: #a9aaaa
    }
li {
    float: left;
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 24px 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: 40px;
}
li a:hover {
    color: rgb(29, 32, 32);
    font-size: 30px;
}
 
