ul{
    list-style-type: none;
    margin: 20;
    padding: 1;
    overflow: hidden;
    background-color: #4691f3
    }
li {
    float: inline-end;
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 28px 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: 40px;
}
li a :hover {
    background-color: aqua;
}
h1 {
    color: black;
    text-align: center;
}

